<!DOCTYPE html>
<html lang="nl"
      data-context="Ninjago"
      data-siteculture="nl-BE"
      data-contentculture="nl-BE"
      data-revision="1.0.0.1923"
      data-site-url="https://www.lego.com/nl-be/ninjago"
      data-asset-url="https://mi-od-live-s.legocdn.com/r/www/r/ninjago"
      data-video-streaming-url="https://legoprod-f.akamaihd.net/"
      data-video-progressive-url="http://esd.lego.com.edgesuite.net/"
      data-report-service-url="https://www.us.lego.com/moderationservices/api/v1/report"
      ng-app="LEGO.Web.Ninjago.Site">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google" value="notranslate">
    <title>STERKE CONCENTRATIE - Ninjago LEGO.com</title>
    
    <meta name="description" content="Welkom, jonge ninja! Ik zal veel hulp nodig hebben in het Historisch Museum van NINJAGO, niet? Kom kijken! Er zijn scherpe ogen en een nog scherpere geest nodig om de badge Assistent Museumbeheerder te verdienen!" />

    <meta name="keywords" content="">




    
    <link href="https://mi-od-live-s.legocdn.com/r/www/r/globalnavigationservices/api/v1/global/styles/nl-be/lego.global.full/ninjago2014?l.r2=1.1.2.1646" rel="stylesheet"/>

    <!--[if gt IE 9]><!-->
    <link href="https://mi-od-live-s.legocdn.com/r/www/r/ninjago/content/skin1-main.css?l.r2=1.0.0.1923" rel="stylesheet">
    <!--<![endif]-->
    <!--[if lte IE 9]>
        <link href="https://mi-od-live-s.legocdn.com/r/www/r/ninjago/content/skin1-legacy-base1.css?l.r2=1.0.0.1923" rel="stylesheet">
        <link href="https://mi-od-live-s.legocdn.com/r/www/r/ninjago/content/skin1-legacy-base2.css?l.r2=1.0.0.1923" rel="stylesheet">
        <link href="https://mi-od-live-s.legocdn.com/r/www/r/ninjago/content/skin1-legacy-custom.css?l.r2=1.0.0.1923" rel="stylesheet">
        <link href="https://mi-od-live-s.legocdn.com/r/www/r/ninjago/content/skin1-legacy-base.css?l.r2=1.0.0.1923" rel="stylesheet">
    <![endif]-->

    <script src="https://mi-od-live-s.legocdn.com/r/www/r/ninjago/components/core.modernizr/modernizr.min.js?l.r2=1.0.0.1923" type="text/javascript"></script>

    <link rel="canonical" href="https://www.lego.com/nl-be/ninjago/seek-and-find/mission-37-fierce-focus" />
</head>
<body lang="nl" dir="ltr" ng-controller="levellingController" class="seek-find-qz wu-cru-enabled">
    
    
<div class="lego-global-header-outer-wrap">
    <div class="lego-global-header">
        <i class="hidden-breakpoint-observer"></i>
        <div class="lego-global-header-wrap">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="lego-brand">
                <a href="https://www.lego.com/nl-be" class="logo"></a>
            </div>

            <!-- Shroud for drop down navigation -->
            <div class="shroud"></div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse-wrapper">
                <div class="lego-global-navigation">
                    <ul class="global-links">
                            <li  class="priority">
                                <a  class="gn-icon gn-icon-home"    href="https://www.lego.com/nl-be" target="">Home</a>
                            </li>
                            <li >
                                <a  class="gn-icon gn-icon-products"    href="https://www.lego.com/nl-be/products" target="">Producten</a>
                            </li>
                            <li >
                                <a  class="gn-icon gn-icon-games"    href="https://www.lego.com/nl-be/games" target="">Spellen</a>
                            </li>
                            <li >
                                <a  class="gn-icon gn-icon-news"    href="https://www.lego.com/nl-be/news" target="">Nieuws</a>
                            </li>
                            <li  class="priority">
                                <a  class="gn-icon gn-icon-shop"    href="https://shop.lego.com/#shopxlink" target="">Winkel</a>
                            </li>
                    </ul>
                </div>
                <div class="search-wrap">
                </div>
                <div class="legoid">
                    <div class="legoid-box"></div>
                </div>
                    <div class="lego-market-selector flag flag-be">
                        <select class="market-selector">
                            <option selected>Regio wijzigen</option>

                                <option value="en-AU">Australia (English)</option>
                                <option value="nl-BE">Belgi&#235; (Nederlands)</option>
                                <option value="fr-BE">Belgique (Fran&#231;ais)</option>
                                <option value="pt-BR">Brasil (Portugu&#234;s)</option>
                                <option value="cs-CZ">Cesk&#225;&#160;republika (Ceština)</option>
                                <option value="da-DK">Danmark (Dansk)</option>
                                <option value="de-DE">Deutschland (Deutsch)</option>
                                <option value="es-ES">Espa&#241;a (Espa&#241;ol)</option>
                                <option value="fr-FR">France (Fran&#231;ais)</option>
                                <option value="it-IT">Italia (Italiano)</option>
                                <option value="es-AR">Latinoam&#233;rica (Espa&#241;ol)</option>
                                <option value="hu-HU">Magyarorsz&#225;g (Magyar)</option>
                                <option value="en-MY">Malaysia (English)</option>
                                <option value="nl-NL">Nederland (Nederlands)</option>
                                <option value="nb-NO">Norge (Norsk, bokm&#229;l)</option>
                                <option value="pl-PL">Polska (Polski)</option>
                                <option value="en-SG">Singapore (English)</option>
                                <option value="fi-FI">Suomi (Suomi)</option>
                                <option value="sv-SE">Sverige (Svenska)</option>
                                <option value="tr-TR">T&#252;rkiye (T&#252;rk&#231;e)</option>
                                <option value="en-GB">United Kingdom (English)</option>
                                <option value="en-US">United States (English)</option>
                                <option value="ru-RU">?????? (???????)</option>
                                <option value="ko-KR">???? (???)</option>
                                <option value="zh-CN">??????? (??)</option>
                                <option value="ja-JP">?? (???)</option>
                            </select>
                        </div>
            </div>
        </div>
    </div>
</div>
    



<div class="grid-row site-branding">
    <div class="grid-column">
        <div class="grid-content">
            <div class="lego-responsive-images" lego-element-size lego-responsive-images>
                            <a href="https://www.lego.com/nl-be/ninjago" title="Home">
        <img src="https://mi-od-live-s.legocdn.com/r/www/r/ninjago/-/media/franchises/ninjago%202014/branding/ninjago-logo-new.png?l.r2=-142545377" alt=""  class="branding-logo" />
            </a>


                        <img src="" alt="" data-source={&quot;desktop&quot;:{&quot;retina&quot;:&quot;&quot;,&quot;nonretina&quot;:&quot;&quot;},&quot;tablet&quot;:{&quot;retina&quot;:&quot;&quot;,&quot;nonretina&quot;:&quot;&quot;},&quot;mobile&quot;:{&quot;retina&quot;:&quot;&quot;,&quot;nonretina&quot;:&quot;&quot;}} class="branding-image" />

            </div>
        </div>
    </div>
</div>

<div class="grid-row navigation site-navigation">
	<div class="grid-column">
		<div class="grid-content">
			<nav role="navigation" class="navbar">
				<ul class="nav navbar-nav">

    <li class=" has-icon has-title">
        <a href="https://www.lego.com/nl-be/ninjago">
            <i class="icon icon-home"></i>
                        <span class="item-title"> </span>
        </a>
    </li>

    <li class=" has-icon has-title">
        <a href="https://www.lego.com/nl-be/ninjago/wu-cru">
            <i class="icon icon-wu-cru"></i>
                        <span class="item-title">WU-CRU</span>
        </a>
    </li>

    <li class=" has-icon has-title">
        <a href="https://www.lego.com/nl-be/ninjago/museum">
            <i class="icon icon-museum"></i>
                        <span class="item-title">Museum</span>
        </a>
    </li>

    <li class=" has-icon has-title">
        <a href="https://www.lego.com/nl-be/ninjago/products">
            <i class="icon icon-themes-filled"></i>
                        <span class="item-title">Producten</span>
        </a>
    </li>

    <li class=" has-icon has-title">
        <a href="https://www.lego.com/nl-be/ninjago/games">
            <i class="icon icon-gamepad"></i>
                        <span class="item-title">Games</span>
        </a>
    </li>

    <li class=" has-icon has-title">
        <a href="https://www.lego.com/nl-be/ninjago/characters">
            <i class="icon icon-characters"></i>
                        <span class="item-title">Speelfiguren</span>
        </a>
    </li>

    <li class=" has-icon has-title">
        <a href="https://www.lego.com/nl-be/ninjago/videos">
            <i class="icon icon-play-sign"></i>
                        <span class="item-title">Video&#39;s</span>
        </a>
    </li>

    <li class=" has-icon has-title">
        <a href="https://www.lego.com/nl-be/ninjago/galleries">
            <i class="icon icon-camera"></i>
                        <span class="item-title">Gallery</span>
        </a>
    </li>

				</ul>
			</nav>
		</div>
	</div>
</div>
    <div class="grid-row site-content">
        <div class="grid-column">
            

<div class="grid-row">
    <div class="grid-column">
        <div class="grid-content">

        <div class="seek-and-find-navigation">
            <ul class="seek-and-find-nav-large">
                        <li class="">
                            <a class="btn btn-lg" href="https://www.lego.com/nl-be/ninjago/seek-and-find/mission-30-dr-saunders-2"></a>
                        </li>
                        <li class="active">
                            <a class="btn btn-lg" href="https://www.lego.com/nl-be/ninjago/seek-and-find/mission-37-fierce-focus"></a>
                        </li>
                        <li class="">
                            <a class="btn btn-lg" href="https://www.lego.com/nl-be/ninjago/seek-and-find/mission-48-eagle-eye"></a>
                        </li>
            </ul>
            <div class="seek-and-find-nav-small">
                <select onchange="window.location.href = this.options[this.selectedIndex].value;">
                            <option value="https://www.lego.com/nl-be/ninjago/seek-and-find/mission-30-dr-saunders-2" ></option>
                            <option value="https://www.lego.com/nl-be/ninjago/seek-and-find/mission-37-fierce-focus" selected></option>
                            <option value="https://www.lego.com/nl-be/ninjago/seek-and-find/mission-48-eagle-eye" ></option>
                </select>
                <i class="icon icon-angle-down"></i>
            </div>
        </div>

            <div class="seek-and-find seek-and-find-quiz">
                <h1></h1>
                <div class="seek-and-find-area"
                     lego-seek-and-find="'https://mi-od-live-s.legocdn.com/r/www/r/ninjago/-/media/franchises/ninjago%202014/wucru/missions/mission%2037/seek_and_find_03_wu_cru_v2.jpg?l.r2=-1688287524'"
                     data-mapinstance="3516DE5E607C48C581D98D69EF45764B"
                     data-speed="2.5"
                     data-panning-edge="50"
                     data-reveal-item-delay="500"
                     data-start-position="center"
                     data-find-item-delay="500"
                     data-fullscreen-show-progress="True">

                    <div class="fullscreen-close" ng-click="closeFullscreen()">&#x2715;</div>
                    <div class="panning-container loading">

                        <div class="panning-area"
                             lego-seek-and-find-quiz="https://mi-od-live-s.legocdn.com/r/www/r/ninjago/-/media/franchises/ninjago%202014/wucru/missions/mission%2037/seek_and_find_03_wu_cru_v2.jpg?l.r2=-1688287524"
                             data-start-position="center"
                             data-quiz-id="{3516DE5E-607C-48C5-81D9-8D69EF45764B}"
                             data-endpoint-url="/api/v1/seekandfindquiz/{3516DE5E-607C-48C5-81D9-8D69EF45764B}"
                             data-tracking="mission_37_fierce_focus"></div>

                        <div class="magnifier-lens" data-ng-if="isTouchDevice()">
                            <div class="lens-image">
                                <div ng-repeat="objective in objectives"
                                     class="item"
                                     data-id="{{objective.id}}"
                                     ng-style="{height:objective.height + 'px', width:objective.width + 'px', top: objective.yCoordinate + 'px', left: objective.xCoordinate + 'px' }"
                                     ontouchstart="window.itemFoundWrapper(this)"
                                     ng-class="{'in-progress': objectiveInProgress.id == objective.id && !objective.completed}">
                                </div>
                            </div>
                        </div>

                        <div class="magnifier-lens" data-ng-if="!isTouchDevice()">
                            <div class="lens-image">
                                <div ng-repeat="objective in objectives"
                                     class="item"
                                     data-id="{{objective.id}}"
                                     ng-style="{height:objective.height + 'px', width:objective.width + 'px', top: objective.yCoordinate + 'px', left: objective.xCoordinate + 'px' }"
                                     ng-mouseover="itemFound(objective, isTouchDevice())"
                                     ng-class="{'in-progress': objectiveInProgress.id == objective.id && !objective.completed}">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="intro" style="background-image:url('https://mi-od-live-s.legocdn.com/r/www/r/ninjago/-/media/franchises/ninjago%202014/wucru/missions/mission%2037/bgwucruintroend.jpg?l.r2=1478494977');" ng-class="{'active':state == 'intro', loading: !success}">
                    <div class="message" ng-class="{'active':state == 'intro'}">
                        <div class="message-content"><p>Je hebt al veel uitdagingen doorstaan en hebt bewezen dat je een waardige leerling bent. Nu moet je je goed concentreren om deze missie te voltooien en het volgende niveau te bereiken!</p></div>
                        <button class="btn-quiz desktop-only" ng-click="activate()">
                            <div class="content">
                                Starten <i class="icon icon-chevron-right-sign"></i>
                            </div>
                            <div class="loader">
                                <i class="icon icon-spinner-dots icon-spin"></i>
                            </div>
                        </button>
                    </div>
                    <div class="intro-image" style="background-image: url('https://mi-od-live-s.legocdn.com/r/www/r/ninjago/-/media/franchises/ninjago%202014/wucru/missions/mission%2037/wu-cropped.png?l.r2=-2097016900')"></div>
                    <button class="btn-quiz mobile-only" ng-click="activate()">
                        <div class="content">
                            Starten <i class="icon icon-chevron-right-sign"></i>
                        </div>
                        <div class="loader">
                            <i class="icon icon-spinner-dots icon-spin"></i>
                        </div>
                    </button>
                </div>
                <div class="message objective" ng-class="{'active': state == 'objective'}">
                    <div class="objective-preview" style="background-image:url('{{objectiveShown.objectivePreviewImageUrl}}');"></div>
                    <div class="message-content">
                        <p ng-bind-html="objectiveShown.message"></p>
                    </div>
                    <button class="btn-quiz" ng-click="doneReadingObjectiveDescription();">Volgende <i class="icon icon-chevron-right-sign"></i></button>
                </div>
                <div class="message objective-found" ng-class="{'active': state == 'objective-found'}">
                    <div class="objective-found-preview" style="background-image:url('{{objectiveShown.foundImageUrl}}');"></div>
                    <div class="message-content">
                        <p ng-bind-html="objectiveShown.foundMessage"></p>
                    </div>
                    <button class="btn-quiz" ng-click="goToReward();">Volgende <i class="icon icon-chevron-right-sign"></i></button>
                </div>
                <div class="message objective-reward" ng-class="{'active': state == 'objective-reward'}">
                    <div class="objective-reward-preview" style="background-image:url('{{objectiveShown.rewardImageUrl}}');">
                    </div>
                    <button class="btn-quiz" ng-click="afterReward();">Volgende <i class="icon icon-chevron-right-sign"></i></button>
                </div>
                <div class="outro" style="background-image:url('https://mi-od-live-s.legocdn.com/r/www/r/ninjago/-/media/franchises/ninjago%202014/wucru/missions/mission%2037/bgwucruintroend.jpg?l.r2=1478494977');" ng-class="{'active': state == 'outro'}">

                    <div class="message" ng-class="{'active': state == 'outro'}">
                        <div class="message-content"><p>Je hebt het goed gedaan. Het is niet altijd gemakkelijk, maar je hebt bewezen dat je deze taak tot een goed einde kon brengen. Je hebt daarvoor een speciale badge verdiend. Ga verder met je training, en gefeliciteerd!</p></div>
                        <div class="outro-buttons desktop-only no-next-link">
                            <a class="btn-quiz btn-download" href="https://mi-od-live-s.legocdn.com/r/www/r/ninjago/-/media/franchises/ninjago%202014/wucru/missions/mission%2037/fierce-focus-badge.png?l.r2=1007159695" ng-click="download()" target="_blank">Code downloaden<i class="icon icon-download"></i></a>
                            <button class="btn-quiz btn-restart" ng-click="restart()"><i class="icon icon-refresh"></i></button>
                        </div>
                    </div>
                    <div class="outro-image" style="background-image: url('https://mi-od-live-s.legocdn.com/r/www/r/ninjago/-/media/franchises/ninjago%202014/wucru/missions/mission%2037/wu-cropped.png?l.r2=-2097016900')"></div>
                    <div class="outro-buttons mobile-only no-next-link">
                        <a class="btn-quiz btn-download" href="https://mi-od-live-s.legocdn.com/r/www/r/ninjago/-/media/franchises/ninjago%202014/wucru/missions/mission%2037/fierce-focus-badge.png?l.r2=1007159695" ng-click="download()" target="_blank">Code downloaden<i class="icon icon-download"></i></a>
                        <button class="btn-quiz btn-restart" ng-click="restart()"><i class="icon icon-refresh"></i></button>
                    </div>

                </div>
                <div class="objectives" ng-show="state != 'intro' && state != 'outro'" ng-class="{'all-is-found': allIsFound(), 'ready': !loading}">
                    <div class="progress">
                        <div class="value" ng-style="{width: (percentageFound || 0) + '%' }"></div>
                    </div>
                    <ul>
                        <li ng-repeat="objective in objectives"
                            class="objective"
                            data-lego-seek-and-find-quiz-objective=""
                            ng-class="{
                                    'in-progress': objectiveInProgress.id == objective.id && !objective.completed,
                                    completed: objective.completed,
                                    locked: objectiveInProgress.id != objective.id && !objective.completed }">
                            <div class="preview-wrapper">
                                <span class="preview"></span>
                            </div>
                            <span class="status icon"
                                  ng-class="{
                                      'icon-question-mark': objectiveInProgress.id == objective.id  && !objective.completed,
                                      'icon-check-mark': objective.completed,
                                      'icon-lock': objectiveInProgress.id != objective.id  && !objective.completed}"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


        </div>

        

<script type="text/javascript">
    window.LEGONinjagoWuCru = window.LEGONinjagoWuCru || {};
                            window.LEGONinjagoWuCru.Global = window.LEGONinjagoWuCru.Global || {};
                            window.LEGONinjagoWuCru.Global = {
                                    MissionStatusCompleteButtonText: 'Voltooid',
                                    AllMissionsButtonText: 'Alle missies',
                                    TakeMissionButtonText: 'START',
                                    AppMissionButtonText: 'Ga naar de app',
                                    MissionNotYetAvailableButtonText: 'Nog niet beschikbaar',
                                    MissionCompletedPopupHeaderText: 'Gefeliciteerd!',
                                    MissionCompletedPopupText: 'Je hebt de missie [missiontitle] voltooid en [rewardtitle] vrijgespeeld!',
                                    MissionCompletedPopupSignInToSaveText: 'Wil je je beloning opslaan? Gebruik de aanmeldknop om je aan te melden met je LEGO ID.',
                                    MissionCompletedPopupNoSingInText: 'Neen bedankt!!',
                                    SaveReward: 'Beloning opslaan',
                                    LevelledUpMessage: 'Je hebt nu het niveau [leveltitle]!',
                                    MissionCompletedPopupRewardSavedText: 'Je beloning is opgeslagen.',
                                    TakeAnotherMissionButtonText: '',
                                    MissionCompletedPopupErrorMessage: 'Er ging iets mis tijdens het opslaan van je beloning. Probeer het nog eens.',
                                    DownloadRewardButtonText: 'Downloaden',
                                    RewardPopupNoRewardsText: 'Je hebt nog geen beloningen. Je moet missies voltooien om beloningen te verdienen.',
                                    RewardsPopupHeaderText: 'Je beloningen',
                                    MissionsPopupSeeAllMissionsButtonText: 'Bekijk alle missiedetails',
                                    MissionsHeaderText: 'WU-CRU missies',
                                    MissionsPopupNoMissionsText: 'Geen missies beschikbaar',
                                    MissionUrl: 'LEGO.Web.Kernel.Domain.Common.Link',
                                    MissionText: ' ',
                                    MissionImage: 'LEGO.Web.Kernel.Domain.Common.Image',
                                    EnableWuCruLevelling: 'True',
                                    MissionsPopupSeeAllMissionsButtonLink: 'https://www.lego.com/nl-be/ninjago/wu-cru/missions'
                                };
</script>

<div class="grid-column widget-container-root">
    <div class="wucru-widget widget-closed" data-lego-wu-cru-widget="" ng-class="{ready:isReady}">
        <div class="toggle-button" onclick="showWidget()">
            <img src="https://mi-od-live-s.legocdn.com/r/www/r/ninjago/content/graphics/wucru/toggle-icon.png?l.r2=1.0.0.1923" class="wucru-toggle-button" />
        </div>
        <div class="widget-image">
            <a href="https://www.lego.com/nl-be/ninjago/wu-cru">
                <img src="https://mi-od-live-s.legocdn.com/r/www/r/ninjago/content/graphics/wucru/widget-image.png?l.r2=1.0.0.1923" class="mobile-image" />
                <svg version="1.1" id="BADGE" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="75%" height="75%" viewBox="0 0 201.745 201.745" enable-background="new 0 0 201.745 201.745"
                    xml:space="preserve">
                    <g>
                    <circle fill="#FFFFFF" cx="100.873" cy="100.872" r="100.873" />
                    <g>
                    <path d="M76.422,18.744c1.468-0.441,2.962-0.84,4.477-1.198c-0.391,0.02-0.783,0.038-1.174,0.059
                    c37.37-9.521,75.604,8.831,94.89,39.39c-2.403,0.371-4.951,1.04-7.44,2.17c-8.51-11.421-22.26-21.379-31.578-26.435
                    c-15.831-8.59-35.625-8.692-51.819-5.938c-0.484,0.091-0.971,0.192-1.46,0.298l-1.657-3.702
                    C80.027,21.976,78.947,19.566,76.422,18.744z M59.892,33.557c0.06-0.415,0.126-1.107,0.191-1.782l0.006-0.058
                    c0.01-0.148,0.026-0.438,0.046-0.815c0.057-1.027,0.143-2.578,0.264-3.934c0.053-0.579,0.106-1.071,0.165-1.492
                    c-15.083,8.477-26.752,21.604-34.326,36.783L58.94,34.385C59.232,34.136,59.634,33.795,59.892,33.557z M186.569,112.175
                    c5.686,11.382-11.592,33.722-17.613,42.645c-6.986,10.354-20.021,23.318-32.897,25.45c-11.988,1.987-20.392,3.308-32.295,5.133
                    c-19.849,3.038-41.946-6.456-57.58-18.346c2.202,0.478,4.489,0.721,6.825,0.721c3.537,0,7.058-0.559,10.459-1.659
                    c0.526-0.171,1.037-0.343,1.532-0.517c15.098,9.392,34.548,13.344,53.639,9.123c22.271-7.992,41.267-22.92,51.382-42.613
                    c2.622-3.93,5.074-8.745,5.859-14.121c0.15-1.027,0.256-2.051,0.326-3.068c1.757-8.048,2.141-16.646,0.874-25.691
                    c0.32,1.271-1.773-9.318-2.232-10.877c-0.005-1.574-0.196-3.156-0.543-4.737c0.312-1.223,0.768-2.33,1.438-3.249
                    c0.359-0.492,1.374-1.882,4.827-2.181C186.426,81.515,188.853,96.516,186.569,112.175z M140.316,165.078
                    c0.024,0.033,0.026,0.038,0.023,0.032C141.051,166.029,139.565,164.106,140.316,165.078z M27.737,131.154
                    c0.716-0.965,1.626-1.95,2.694-2.846c-0.721-2.681-1.098-5.414-1.048-8.177c0.083-5.39-1.412-10.878-1.164-15.138
                    c0.398-6.823,0.237-12.322,0.892-18.11l-11.608,2.234c-2.914,17.364-0.964,35.375,6.614,51.081
                    C24.485,136.971,25.7,133.908,27.737,131.154z" />
                    <path d="M183.598,63.253c-4.455-0.282-9.107,0.465-11.838,4.212c-2.926,4.014-3.076,9.453-2.958,14.114
                    c0.153,6.188,1.077,12.317,1.755,18.453c0.627,5.666,1.285,11.534,0.447,17.245c-0.922,6.297-4.691,12.046-8.751,16.988
                    c-5.411,6.592-12.056,12.252-19.3,16.91c-7.467,4.798-15.606,8.75-24.234,11.058c-34.675,9.271-44.736-10.145-45.59-11.467
                    c-0.001,0.009-0.001,0.016-0.001,0.024c-8.983-20.979-5.846-28.89-4.471-31.018c0.158-0.223,0.326-0.438,0.504-0.644
                    c0,0-0.212,0.19-0.504,0.644c-5.177,7.266-0.262,23.889,3.638,34.27c1.048,3.309-6.355,6.095-10.343,7.385
                    c-7.778,2.52-16.476,1.741-23.165-2.743c-7.865-5.271-13.479-15.965-7.086-24.598c1.866-2.52,5.193-4.798,8.541-4.133
                    c3.659,0.729,4.913,4.118,4.88,7.406c-0.005,0.369-0.343,0.501-0.634,0.427c-0.292,0.142-0.682,0.064-0.708-0.328
                    c-0.169-2.552-2.927-4.703-5.622-3.924c-2.19,0.633-3.293,2.883-2.946,4.938c0.334,1.99,1.458,3.848,2.99,5.192
                    c2.491,2.183,7.168,2.774,10.146,0.884c2.424-1.539,3.029-4.577,3.174-7.142c0.179-3.166-0.226-6.312-0.559-9.445
                    c-0.792-7.42-0.042-16.165,6.478-21.377c4.04-3.23,9.492-3.982,14.536-3.727c2.774,0.143,5.539,0.533,8.21,1.226
                    c2.745,0.709,5.789,1.69,8.638,0.741c4.233-3.046,10.229-6.036,15.68-5.612c5.108,0.398,9.505,3.4,13.766,5.817
                    c2.311,1.311,4.699,2.598,7.309,3.304c2.347,0.635,4.812,0.911,7.265,0.797c4.812-0.226,9.94-1.809,13.35-5.304
                    c2.411-2.475,4.133-6.175,4.035-9.58c-0.038-1.316-0.436-2.774-1.63-3.532c-1.646-1.047-4.943-0.998-6.789-0.596
                    c-0.312,0.067-0.515-0.119-0.571-0.348c-0.095-0.218-0.041-0.482,0.262-0.592c0.007-0.003,0.014-0.005,0.02-0.006l0.002,0
                    c2.526-0.915,7.095-1.905,9.366-0.396c1.934,1.287,2.741,2.069,3.527,4.201c0.68,3.276-0.257,10.421-6.639,16.22
                    c0,0,10.735-4.475,7.522-21.804c-2.153-12.4,8.631-20.157,8.631-20.157c5.487-5.356,13.213-5.92,17.856-5.678
                    c0,0,4.465,0.317,4.373,0.968C186.063,63.179,183.598,63.253,183.598,63.253z" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M139.988,53.583c-18.264-6.167-36.527-12.334-54.792-18.501
                    c-1.023-0.346-5.139-0.975-5.664-2.149c-1.124-2.51-2.248-5.02-3.372-7.529c-1.161-2.595-1.119-2.122-3.646-1.635
                    c-2.255,0.434-4.512,0.869-6.769,1.301c-0.444,0.086-0.683,6.423-0.747,7.098c-0.365,3.788-0.353,3.833-2.86,5.969
                    c-10.333,8.809-20.67,17.617-31.004,26.428c-4.297,3.66-8.591,7.319-12.885,10.98c-2.925,2.494-3.566,5.461-5.044,9.38
                    c37.131-7.146,74.263-14.29,111.394-21.436c6.933-1.333,13.862-2.667,20.795-4C143.592,57.519,141.79,55.552,139.988,53.583z" />
                    <g>
                    <path d="M73.86,90.174c-3.674-0.046-10.46,4.266-10.819,5.753c-0.114,0.488,2.526-1.308,5.503-2.701
                    c-0.523,1.024-0.729,2.259-0.502,3.529c0.516,2.872,3.042,4.825,5.655,4.359c2.609-0.468,4.306-3.176,3.793-6.05
                    c-0.232-1.298-0.878-2.407-1.756-3.19C78.715,91.857,78.314,90.227,73.86,90.174z M72.767,95.909
                    c-1.149,0.206-2.241-0.519-2.438-1.615c-0.184-1.027,0.484-2.018,1.516-2.307c0,0,0.002,0,0.005-0.001
                    c0.067-0.018,0.135-0.035,0.206-0.048c1.148-0.204,2.236,0.518,2.43,1.612C74.683,94.646,73.915,95.704,72.767,95.909z" />
                    <path d="M98.614,88c3.243,0.371,6.281,1.216,6.019,0.797c-0.815-1.296-8.626-3.215-12.089-1.999
                    c-4.209,1.478-4.063,3.152-1.226,2.214c-0.585,1.055-0.831,2.349-0.592,3.686c0.516,2.874,3.047,4.825,5.656,4.359
                    c2.612-0.467,4.305-3.174,3.791-6.048C99.958,89.806,99.392,88.769,98.614,88z M95.45,91.853
                    c-1.146,0.204-2.236-0.52-2.433-1.617c-0.183-1.028,0.487-2.021,1.518-2.308c0.255-0.034,0.52-0.057,0.791-0.072
                    c0.914,0.083,1.688,0.73,1.85,1.635C97.373,90.591,96.598,91.647,95.45,91.853z" />
                    <path d="M66.422,97.395c-0.061,0-0.123,0.014-0.173,0.033c-0.269,0.102-0.396,0.364-0.434,0.613
                    c-0.104,0.07-0.271,0.168-0.477,0.232c-0.215,0.07-0.489,0.105-0.813,0.105l0,0c-0.957,0-2.141-0.304-2.925-0.504
                    c-0.509-0.131-0.761-0.194-0.927-0.194c-0.181,0-0.286,0.077-0.34,0.146L60.22,97.97l0.025,0.167
                    c0.096,0.621,3.018,1.44,4.668,1.438c0.683,0,1.27-0.104,1.746-0.312c0.224-0.099,0.385-0.281,0.454-0.51
                    c0.059-0.194,0.046-0.416-0.027-0.581C67.009,97.862,66.829,97.395,66.422,97.395z" />
                    <path d="M108.149,90.237c-0.179,0-0.394,0.094-0.994,0.37c-0.907,0.419-2.427,1.119-3.553,1.119
                    c-0.069,0-0.137-0.002-0.203-0.008c-0.273-0.025-0.513-0.096-0.649-0.142c-0.097-0.178-0.284-0.428-0.598-0.463
                    c-0.186-0.026-0.34,0.035-0.453,0.164c-0.175,0.204-0.175,0.537-0.152,0.75c-0.013,0.156,0.037,0.34,0.14,0.499
                    c0.143,0.218,0.368,0.363,0.636,0.412c0.232,0.04,0.482,0.059,0.74,0.059c2.236,0,4.941-1.534,5.378-2.065
                    c0.1-0.122,0.134-0.248,0.109-0.383C108.51,90.361,108.35,90.237,108.149,90.237z" />
                    <path d="M77.642,84.167c-3.717,1.477-7.713-0.077-17.481-2.941c-9.041-2.647-17.117,2.412-17.117,2.412
                    c0.053,0.206,1.547-0.196,2.767-0.426c3.62-0.68,7.154-0.293,10.708,0.583c-6.559,1.034-12.454,4.977-12.077,4.952
                    c0.248-0.021,1.727-0.303,2.554-0.411c0.781-0.093,1.567-0.177,2.355-0.252c-1.95,1.271-2.945,2.402-2.945,2.402
                    c0.004-0.001,0.018,0.001,0.026,0c0.239,0.049,0.776-0.057,1.686-0.424c7.135-2.922,15.639-1.87,23.821-0.781
                    c0.947,0.126,1.819-0.081,2.604-0.46c2.719-1.307,4.387-4.79,4.387-4.79c-0.447,0.396-1.541,1.005-2.008,1.229
                    C77.388,84.762,77.642,84.167,77.642,84.167z" />
                    <path d="M119.66,75.292c0.36-0.104-6.535-1.761-13.047-0.456c3.032-2.056,6.209-3.642,9.842-4.261
                    c1.225-0.207,2.766-0.348,2.746-0.562c0,0-9.332-1.944-16.892,3.673c-8.174,6.074-11.383,8.917-15.381,8.82
                    c0,0,0.442,0.468,1.057,0.772c-0.519-0.046-1.756-0.24-2.309-0.456c0,0,4.599,4.492,8.375,2.5
                    c7.297-3.854,14.909-7.791,22.613-7.522c1.021,0.033,1.565-0.065,1.755-0.197c0,0-1.324-0.715-3.592-1.232
                    c0.763-0.204,1.528-0.396,2.293-0.581C117.932,75.607,119.417,75.358,119.66,75.292z" />
                    </g>
                    </g>
                    </g>
                    </svg>
                
            </a>
        </div>
        
        <div class="widget-rewards" ng-click="wuCru.popupRewards()" ng-class="{active:activePopup == 'rewards', notify:rewardEarned}">
            <!--<i class="icon icon-favorites-filled icon-2x"></i>-->
            <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="70%" height="70%" viewBox="0 0 179.767 148.378" enable-background="new 0 0 179.767 148.378"
            xml:space="preserve">
            <path fill="#FFFFFF" d="M151.855,10.533c0.236-3.46,0.361-6.974,0.361-10.533H27.55c0,3.559,0.125,7.072,0.362,10.533H0l0.666,5.59
            c0.065,0.553,1.707,13.7,9.976,26.933c6.092,9.749,16.763,20.962,34.75,25.337c9.215,14.716,21.377,24.884,34.992,28.146v25.975
            l-30.667,14.864l-4.5,11h89.333l-4.5-11l-30.666-14.864V96.54c13.615-3.262,25.777-13.431,34.992-28.146
            c17.987-4.375,28.658-15.589,34.749-25.337c8.27-13.233,9.911-26.38,9.977-26.933l0.665-5.59H151.855z M11.723,20.533h17.212
            c1.737,12.723,5.056,24.526,9.619,34.882C20.698,46.945,14.035,29.529,11.723,20.533z M103.824,54.733l-13.94-7.329l-13.94,7.329
            l2.662-15.523L67.327,28.216l15.586-2.265l6.971-14.123l6.97,14.123l15.586,2.265l-11.277,10.993L103.824,54.733z M160.645,37.757
            c-5.032,8.053-11.543,13.947-19.444,17.689c4.569-10.364,7.894-22.178,9.632-34.914h17.176
            C166.854,24.918,164.657,31.335,160.645,37.757z" />
            </svg>
            <img src="https://mi-od-live-s.legocdn.com/r/www/r/ninjago/content/graphics/wucru/widget-prize.png?l.r2=1.0.0.1923" class="mobile-image" />
        </div>
        <div class="widget-missions" ng-click="wuCru.popupMissions()" ng-class="{active:activePopup == 'missions', notify:hasAvailableMissions}">
            <!--<i class="icon icon-map icon-2x"></i>-->
            <svg version="1.1" id="item" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="70%" height="70%" viewBox="0 0 160 160" enable-background="new 0 0 160 160" xml:space="preserve">
            <g id="compass">
            <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M80,0C35.816,0,0,35.817,0,80c0,44.183,35.816,80,80,80
            c44.185,0,80-35.817,80-80C160,35.817,124.185,0,80,0z M114.8,139.367c-5.35,3.638-10.716,6.109-15.446,6.672
            C93.214,147.834,86.719,148.8,80,148.8s-13.214-0.966-19.353-2.761c-4.731-0.562-10.097-3.034-15.447-6.672
            c-20.346-11.95-34-34.064-34-59.367c0-37.997,30.803-68.8,68.8-68.8c37.997,0,68.8,30.803,68.8,68.8
            C148.8,105.303,135.146,127.417,114.8,139.367z M107.547,72.75c-3.203-8.006-12.291-17.094-20.297-20.297l-43.497-17.4
            c-8.006-3.202-11.903,0.694-8.7,8.7l17.4,43.497c3.203,8.006,12.291,17.094,20.297,20.297l43.497,17.398
            c8.006,3.203,11.901-0.692,8.7-8.698L107.547,72.75z M88.711,88.711c-4.948,4.948-12.861,5.06-17.67,0.248
            c-4.812-4.811-4.7-12.722,0.249-17.67s12.861-5.061,17.67-0.25C93.771,75.85,93.659,83.763,88.711,88.711z" />
            <path fill="#FFFFFF" d="M85,15c2.75,0,3.994,2.013,2.764,4.472l-5.527,11.056c-1.23,2.459-3.243,2.459-4.473,0l-5.527-11.056
            C71.006,17.013,72.25,15,75,15H85z" />
            <path fill="#FFFFFF" d="M85,145c2.75,0,3.994-2.013,2.764-4.472l-5.527-11.057c-1.23-2.459-3.243-2.459-4.473,0l-5.527,11.057
            C71.006,142.987,72.25,145,75,145H85z" />
            </g>
            </svg>
            <img src="https://mi-od-live-s.legocdn.com/r/www/r/ninjago/content/graphics/wucru/widget-mission.png?l.r2=1.0.0.1923" class="mobile-image" />
        </div>
    </div>
</div>

<script>
    function showWidget() {
        var widget = document.querySelectorAll('.wucru-widget.widget-closed');
        var widgetOpened = document.querySelectorAll('.wucru-widget.widget-open');
        var containerOpened = document.querySelectorAll('.widget-container-root');

        if (widget.length === 0 || widget === "undefined") {
            widgetOpened[0].setAttribute('class', 'wucru-widget widget-closed ng-scope ready');
            containerOpened[0].setAttribute('class', 'grid-column widget-container-root container-close');
        } else {
            widget[0].setAttribute("class", "wucru-widget widget-open ng-scope ready");
            containerOpened[0].setAttribute('class', 'grid-column widget-container-root container-open');
        }
    }

</script>    </div>
    

    
    <script src="https://mi-od-live-s.legocdn.com/r/www/r/analytics/Modules/TrackManApi" data-initial-page="ninjago:seekandfind:wu_cru_mission_37_fierce_focus" data-tracking-script="https://mi-od-live-s.legocdn.com/r/www/r/ninjago/components/elements.tracking/scripts/lego-web-elements-tracking-basictracking.min.js?l.r2=1.0.0.1923" async></script>

    <script type="text/javascript">
        window.LEGONinjagoWCE = true;
    </script>

    <script src="https://mi-od-live-s.legocdn.com/r/www/r/ninjago/scripts/app.min.js?l.r2=1.0.0.1923"></script>
    
<footer class="lego-global-footer">
    <div class="lego-global-footer-wrap">
        <ul class="lego-global-footer-groups">
                <li>
                    <a href="https://www.lego.com/nl-be/service"><h5>Klantenservice</h5></a>
                    <ul>
                            <li><a href="https://www.lego.com/nl-be/service/buildinginstructions" xlink-handler="">Bouwinstructies (Engels)</a></li>
                            <li><a href="https://www.lego.com/nl-be/service/replacementparts" xlink-handler="">Ontbrekende steentjes</a></li>
                            <li><a href="https://www.lego.com/nl-be/service" xlink-handler="">Contact (Engels)</a></li>
                            <li><a href="https://www.lego.com/nl-be/service/product-recalls" xlink-handler="">Product terughaal (Engels)</a></li>
                    </ul>
                </li>
                <li>
                    <a href="https://www.lego.com/nl-be/aboutus"><h5>Over ons</h5></a>
                    <ul>
                            <li><a href="https://www.lego.com/nl-be/aboutus/responsibility" xlink-handler="">Verantwoordelijkheid</a></li>
                            <li><a href="https://www.lego.com/nl-be/legal/legal-notice" xlink-handler="">Juridische Informatie</a></li>
                            <li><a href="https://www.lego.com/nl-be/aboutus/news-room" xlink-handler="">Redactiekamer</a></li>
                    </ul>
                </li>
                <li>
                    <a href="https://www.lego.com/nl-be/legoland"><h5>LEGOLAND</h5></a>
                    <ul>
                    </ul>
                </li>
        </ul>
        <ul class="lego-global-footer-links">
                <li><a href="https://www.lego.com/nl-be/legal/cookieinfo" xlink-handler="">Cookies</a></li>
                <li><a href="https://www.lego.com/nl-be/legal-notices" xlink-handler="">Legal Notice</a></li>
        </ul>
        
        <ul class="lego-global-footer-legal">
                <li>LEGO, het LEGO logo, de minifiguur, DUPLO, BIONICLE, LEGENDS OF CHIMA, het FRIENDS logo, het MINIFIGURES logo, DIMENSIONS, MINDSTORMS, MIXELS, NINJAGO en NEXO KNIGHTS zijn handelsmerken van de LEGO Groep. ©2016 LEGO Groep. <br/>
<br/></li>
        </ul>
    </div>
</footer>
    <script src="https://mi-od-live-s.legocdn.com/r/www/r/globalnavigationservices/api/v1/global/scripts/nl-be/lego.global.full/ninjago2014?l.r2=1.1.2.1646">
</script>
    <!--[if IE 8]>
      <script src="https://mi-od-live-s.legocdn.com/r/www/r/ninjago/scripts/lego-deprecatedwarning.min.js?l.r2=1.0.0.1923"></script>
      <script type="text/javascript">
          window.attachEvent("onload", function(){return LEGO.deprecatedBrowser.showWarning('U maakt gebruik van Internet Explorer 8. Dit is een zeer verouderde browser die niet door dit deel van LEGO.com wordt ondersteund. Update uw browser om optimaal gebruik te kunnen maken van LEGO.com.');});
      </script>
  <![endif]-->
<!--[if IE 9]>
    <script src="https://mi-od-live-s.legocdn.com/r/www/r/ninjago/scripts/lego-deprecatedwarning.min.js?l.r2=1.0.0.1923"></script>
    <script type="text/javascript">
        document.addEventListener("onload", LEGO.deprecatedBrowser.showNotification('U maakt gebruik van Internet Explorer 9. We raden u aan om uw browser te upgraden voor een optimaal gebruik van de website.'));
    </script>
<![endif]-->
    <script type="text/javascript">
        window.onload = function() {
            var homePage = document.querySelectorAll(".ninjago-home");
            if (homePage.length > 0) {
                window.scrollTo(0, 78);
            }
        };

        function currentYPosition() {
            // Firefox, Chrome, Opera, Safari
            if (self.pageYOffset) {return self.pageYOffset;}
            // Internet Explorer 6 - standards mode
            if (document.documentElement && document.documentElement.scrollTop)
            { return document.documentElement.scrollTop;}
            // Internet Explorer 6, 7 and 8
            if (document.body.scrollTop) {return document.body.scrollTop;}
            return 0;
        }

        function elmYPosition(eID) {
            var elm = document.getElementsByClassName(eID)[0];
            var y = elm.offsetTop;
            var node = elm;
            while (node.offsetParent && node.offsetParent != document.body) {
                node = node.offsetParent;
                y += node.offsetTop;
            } return y;
        }

        function smoothScroll(eID) {
            var startY = currentYPosition();
            var stopY = elmYPosition(eID);
            var distance = stopY > startY ? stopY - startY : startY - stopY;
            if (distance < 100) {
                scrollTo(0, stopY); return;
            }
            var speed = Math.round(distance / 100);
            if (speed >= 20) {speed = 20;}
            var step = Math.round(distance / 25);
            var leapY = stopY > startY ? startY + step : startY - step;
            var timer = 0;
            if (stopY > startY) {
                for ( var i=startY; i<stopY; i+=step ) {
                    setTimeout("window.scrollTo(0, "+leapY+")", timer * speed);
                    leapY += step; if (leapY > stopY){ leapY = stopY; }timer++;
                } return;
            }
            for ( var i=startY; i>stopY; i-=step ) {
                setTimeout("window.scrollTo(0, "+leapY+")", timer * speed);
                leapY -= step; if (leapY < stopY){ leapY = stopY; }timer++;
            }
        }


        /*window.onload = function() {
            var isIe9 = document.querySelectorAll(".no-flexbox");
            if (isIe9.length > 0) {
                var svgItem = document.querySelectorAll(".primary-content img");
                svgItem[0].removeAttribute('lego-image-decoration');
            }
        };*/

    </script>



</body>
</html>